@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 :root{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #FFFFFF,#F5F5F5);
  font-family: 'Karla', sans-serif;
  
}

@media (min-width:1400px){

    .section{
      height:  calc(100vh - 328px);
       }
}


 /* Seccion evolucion */
.section{
   padding-top: 500px;
    width: 100%;
   /* height:  calc(100vh - 252px);*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-bottom: 30px;
    
   
}
.section .card{
  
  width: 100%;
  max-width: 500px;
  background-color:#EDEDED;
  border-radius: 12px;
  padding:60px 40px 30px 40px;
  margin: 0 auto;
  text-align: center;
  
  
}

.btn-calculate{
    margin-bottom: 30px;
    width: 100%;
    background-size: 200%;
    transition: .5s;
    font-weight: bold;
    padding: 7px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    box-shadow: -5px 5px 7px rgba(163, 163, 163, 0.2);
   }

.card .btn-calculate:hover {
  background-color: black;
  color: white;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;

}

.boxEvolution{
  margin-bottom: 30px;
	text-align: center;
	color:black;
  background: #f5db13ad;
  height: 350px;
  margin-top: 0px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
}



